html,body {
    margin: 0;
    padding: 0;
    font-style: oblique;
}

@media screen and (max-width: 600px) {
 p {
    visibility: hidden;
 }

 .mobilehide {
     padding-top: 
}
}
/*----------contact.html------------------------*/
#contact {
    background-image: url('/assets/images/Collection-closeup.jpg') ;
    color: white;
    height: 100vh;
    max-width: 100%;
   
}

span {
    color: #ffff;
}

/*----------Index.html------------------------*/


/*code from bootstrap CI tutorial*/
.callout-container {

    height: 100vh;

    background: url('/assets/images/The-Full-Collection.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; 
        color: #ffffff;

        height: 71vh;
}

/*code from bootstrap CI tutorial*/

/*----------Men/Ladies Positioning------------------------*/

.position-column {
    margin-top: 100px;
    margin-bottom: 100px;
}

/*----------men.html------------------------*/
/*----------ladies.html------------------------*/
