html, body {
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    font-family: 'Piedra', cursive;


}


/*contact.html*/
#contact {
    color: white;
    height: 100vh;
    max-width: 100%;
   
}

span {
    color: #ffff;
}

/*corousel*/
.h3-responsive{
    color:  white;

}
/*Index.html*/

h2 {
    text-align: center;
}
.indexp{
    text-align: center;
}

.The-Full-Collection {

         height: 100vh;
         width:  1266px; 
    
}

/*code from bootstrap CI tutorial*/

/*aboutus.html*/
.charity{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.charity-text {
    padding-top: 50px;
}

.charity-image {
    width: 50%;
    padding-top: 30px;
}

/*Men.html/Ladies/html*/

.card {
        margin: 0 auto;
        float: none; 
        border: none;
        
}
      
.background {
    background-color:lightgray;
    
}
.corousel{
    height: 529px;
    width: 100vw;
}
.heading {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgrey;
}

/*----------men.html------------------------*/
/*Contactus page https://bbbootstrap.com/snippets/contact-us-responsive-form-91369694*/
    
.form4 {
    background-color: rgba(128, 128, 128, 0);
    background-size: cover;
    padding-top: 40px;
}

.top {
    padding-bottom: 100px
}

.form-bg {
    background: rgba(68, 68, 65, 0.77);
    padding: 20px;
    margin: auto;
    
}   

.form {
    background-color: white !important;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #61615e;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

button.btn {
    display: block;
    padding: 11px 32px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 30px 0px
}

.btn-blue {
    background-color: #4285f4;
    color: #fff;
    border: 1px solid #4285f4
}

/*footer*/

.footer{
  background: rgba(128, 128, 128, 0.121);
  color:black;
  width: 100%;
  }  

.remove-bullet-points{
    list-style: none;
    list-style-type: none;
    display: inline-block;
    float: left;
}

.side-by-side{
     list-style-type: none;
}
li {
    display: inline-block;
    padding-right: 20px;
    size: 40px;
}
.copyright p{
      
    border-top:1px solid rgba(255,255,255,.1);
    text-align: center;
    }